---
import { BookOpen, ExternalLink } from "lucide-astro";
---

<div class="dark:bg-[#1f2937] bg-[#e7fcee] p-6 rounded-lg shadow-md">
  <div class="bg-green-600 w-12 h-12 flex items-center justify-center rounded-xl mb-4">
    <BookOpen class="w-6 h-6 text-white" />
  </div>
  <h3 class="text-xl font-bold mb-1">Zenn</h3>
  <p class="dark:text-gray-300 text-[#4c5664] mb-4" data-translate="blog.zenn-desc">
    I specialize in writing articles related to Unity.
  </p>
  <a href="#" class="flex items-center justify-center w-full py-2 rounded-md text-white bg-gradient-to-r from-green-500 to-blue-500 hover:opacity-90 transition">
    <ExternalLink class="w-4 h-4 mr-2 transition-transform duration-300" />
    <span data-translate="blog.not-available">(NOT AVAILABLE)</span>
  </a>
</div>