---
import "../styles/global.css";
import LanguageToggle from "../components/LanguageToggle.astro";
---

<html lang="ja" class="dark scroll-smooth">
  <head>
    <meta charset="UTF-8" /> <!--文字化け対策-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title || "kopo-k's Portfolio"}</title>
    <meta name="description" content={Astro.props.description || "Welcome to my portfolio site!"} />
    <!-- OGP -->
    <meta property="og:title" content={Astro.props.title || "kopo-k's Portfolio"} />
    <meta property="og:description" content={Astro.props.description || "Welcome to my portfolio site!"} />
    <meta property="og:image" content="/my-portfolio/images/opg.png" />
    <meta property="og:url" content="https://kopo-k.github.io/my-portfolio/" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="/my-portfolio/images/favicon.ico" />
    <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        //未指定なら、ユーザーのデバイスの好みに従う 
      ) {
        document.documentElement.classList.add('dark'); //ダークモードを有効化
      } else {
        document.documentElement.classList.remove('dark'); //ダークモードを解除
      }
    </script>
    
    <!-- <slot name="head" /> -->
  </head>
  <body class="bg-white text-black dark:bg-gray-900 dark:text-white">
    <slot />
    <LanguageToggle />
    <script type="module">
      import { initThemeToggle } from '/my-portfolio/js/themeToggle.js';
      document.addEventListener('DOMContentLoaded', () => {
        initThemeToggle();
      });
    </script>
  </body>
</html>
